div {
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
  float: none;
  }
  margin: 0 auto;
}

.app-name {
  font-family: 'Pacifico', cursive;
  color: #D9D5CC;
  font-size: 530%;
  margin-bottom: 5%;
}

#text-field-tag {
  margin-bottom: 3%;
  border-radius: 5px;
}

#logo {
  margin-bottom: 22%;
}


#next-btn {
  width: 22%;
}

#directions {
  margin-left: 12%;
}


#center {
  text-align: center;
}

.center-content {
  text-align: center;
  margin-bottom: 10px;
}


.white-text {
  color: #D9D5CC;
  font-family: 'Reem Kufi', sans-serif;
  // opacity: 0.7;
}


#text-box {
  text-align: center;
  border-radius: 4px;
  // opacity: 0.7;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

@media only screen and (min-width : 315px) and (max-device-width : 480px){
  .app-name {
    font-size: 325%;
  }
  .white-text {
    font-size: 140%;
  }
  strong.white-text {
    font-size: 90%;
  }
  #restaurant-img {
    width: 100%;
  }
}

#next-btn {
  float: right;
}

h1.app-name {
  margin-left: 10%;
  margin-right: 10%;
  padding: 5%;
  background-color: lightslategray;
  border-radius: 13px;
  border: solid 1px;
}

.main-container {
  background-color: black;
  border-radius: 24px;
  border: 1px grey solid;
  margin-top: 5%;
  padding-bottom: 27px;
}


#rating-margin {
  margin-bottom: 6%;
}

// @media only screen and (min-width : 316px){
//   .app-name {
//     font-size: 325%;
//   }
// }
//
// @media only screen and (min-width : 315px){
//   .app-name {
//     font-size: 325%;
//   }
// }
