#center {
  text-align: center;
  margin-bottom: 10px;
}

.white-text {
  color: #D9D5CC;
  font-family: 'Reem Kufi', sans-serif;
}


#button-js {
  margin-left: -1%;
}



#text-box {
  margin-bottom: 20%;
  margin-left: 50%;
  border-radius: 6px;
}


#find-header1 {
  margin-left: 6%;
}

#find-header2 {
  margin-left: -2%;
}

input.form-control {
  text-align: center;
  width: 164px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}


#find-restaurant-btn {
  margin-left: -24px;
}
